<footer id="footer" class="footer mt-5 mb-0 mx-0">
    <div class="container-fluid m-0 p-0 footerleft">
        <div class="row m-0 p-0 footerright">
            <div class="col-12 footer-links mt-5 text-center">
                <div>
                    @if (ViewData["Breadcrumbs"] != null)
                    {
                        <partial name="_Breadcrumbs" viewData="new ViewDataDictionary(ViewData) { Model = ViewData[" Breadcrumbs"] }" />
                    }
                    <img src="~/img/logo.png" alt="Giggle logo" class="img-fluid footerlogo">
                </div>
                <div>
                    <div class="social-links d-flex text-center my-3">
                        <a href="#" class="twitter"><img src="~/img/s1/icon_x.svg" class="img-fluid"></a>
                        <a href="#" class="youtube"><img src="~/img/s1/icon_youtube.svg" class="img-fluid"></a>
                        <a href="#" class="telegram"><img src="~/img/s1/icon_telegram.svg" class="img-fluid"></a>
                        <a href="#" class="email"><img src="~/img/s1/icon_email.svg" class="img-fluid"></a>
                    </div>
                </div>
                <div class="my-2">
                    <h6>Download Our App to see all Posts and Giggle on your mobile</h6>
                </div>
                <div class="d-flex justify-content-center">
                    <img src="~/img/s1/button-app.svg" class="m-2" alt="app store download">
                    <img src="~/img/s1/button-play.svg" alt="play store download" class="m-2">
                </div>
                <div class="container">
                    <div class="copyright">
                        &copy; <strong><span>2023</span></strong>. All Rights Reserved By <strong><span class="text-white">Giggle</span></strong>
                    </div>
                </div>
                <div class="d-flex justify-content-center endfooter">
                    <a href="Conditions.html" class="m-1"><u class="text-white footer-link"> Terms and Conditions </u></a>
                    <a href="#" class="m-1 text-white">|</a>
                    <a href="Privacy.html" class="m-1"><u class="text-white footer-link"> Privacy Policy </u></a>
                    <a href="#" class="m-1 text-white">|</a>
                    <a href="#" class="m-1"><u class="text-white footer-link"> FAQ </u></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>