<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Header" />
</head>
<body class="section2-bg">
    <header id="header" class="header fixed-top d-flex align-items-center">
        <partial name="_Navigation" />
    </header>
    <div class="container" id="post-container" style="margin-top:100px">
        <div class="row">
            <!-- The posts will be loaded at this div -->
        </div>
    </div>

    <main id="main">
        @RenderBody()
    </main>

    <partial name="_Footer" />
    <partial name="_Main" />

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/api/error/check')
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(error => {
                            throw new Error(error.detail);
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data); // No errors
                })
                .catch(error => {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: error.message,
                    });
                });
        });
    </script>
</body>
</html>
