﻿

<br />

<hr />

<div class="text-success h3">@Title</div>

<button @onclick="GenerateNumber" class="btn btn-dark">Generate Random Number</button>

@if (RandomNumber > 0)
{
    <p class="p-2">Lucky Number - @RandomNumber</p>
}

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    public int RandomNumber { get; set; } = 0;

    private void GenerateNumber()
    {
        Random rnd = new();
        RandomNumber = rnd.Next(1, 100);
    }
}